<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
      <span>GROCERY STORE</span>
      <div class="App"  >
       
          
        <div class = "search-container">
          
          <input class= "search-query" type= "text" />
          <button id = "search-btn" >Search</button>
        </div>
      </div>
      

  
 <div class="allButtons">
  <button mat-icon-button class="orders-icon">
    <mat-icon>shopping_basket</mat-icon>
    My Orders
  </button>
  <button mat-icon-button class="cart-icon" >
    <mat-icon>shopping_cart</mat-icon>
    Cart
  </button>
  <button mat-button color="accent" class="login-signup">Login/Signup</button>
</div>
</mat-toolbar>
